@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "../../vendor/filament/support/resources/css/index.css";
@import "../../vendor/filament/actions/resources/css/index.css";
@import "../../vendor/filament/forms/resources/css/index.css";
@import "../../vendor/filament/infolists/resources/css/index.css";
@import "../../vendor/filament/notifications/resources/css/index.css";
@import "../../vendor/filament/schemas/resources/css/index.css";
@import "../../vendor/filament/tables/resources/css/index.css";
@import "../../vendor/filament/widgets/resources/css/index.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary-50: oklch(97.9% 0.021 166.113);
    --color-primary-100: oklch(95% 0.052 163.051);
    --color-primary-200: oklch(90.5% 0.093 164.15);
    --color-primary-300: oklch(84.5% 0.143 164.978);
    --color-primary-400: oklch(76.5% 0.177 163.223);
    --color-primary-500: oklch(69.6% 0.17 162.48);
    --color-primary-600: oklch(59.6% 0.145 163.225);
    --color-primary-700: oklch(50.8% 0.118 165.612);
    --color-primary-800: oklch(43.2% 0.095 166.913);
    --color-primary-900: oklch(37.8% 0.077 168.94);
    --color-primary-950: oklch(26.2% 0.051 172.552);
}
